<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}ImmI - Youdao Cloud Note Immigrant{% endblock %}</title>

        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    {% endblock %}

</head>

<body>

{% block body %}

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {% block header %}
                        <li role="presentation" class="active"><a href="/">Home</a></li>
                        {% if current_user.is_authenticated %}
                            <li role="presentation">
                                <a href="#">{{ current_user.email }}</a>
                            </li>
                            <li role="presentation">
                                <a href="{{ url_for('signOut') }}">Sign out</a>
                            </li>
                        {% else %}
                            <li role="presentation">
                                <a href="{{ url_for('showSignIn') }}">Sign In</a>
                            </li>
                            <li role="presentation">
                                <a href="{{ url_for('showSignUp') }}">Sign Up</a>
                            </li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </nav>
            <h3 class="text-muted">ImmI</h3>
        </div>

        {% block content %}
        {% endblock %}

        <footer class="footer">
            <p>&copy; Life Ltd. 2016</p>
        </footer>

    </div>

{% endblock %}

{% block scripts %}
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/immi.js"></script>
{% endblock %}

</body>
</html>